.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  text-align: center;
  padding-top: 6px;
  border-style: solid;
  border-color:#282c34;
  border-width: 2px;
  
  margin-top: 6px;
}

.Addtodo {
  text-align: left;
  padding-left: 6px;
}
form {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td, th{
  border-bottom: 1pt solid grey;
}

